quests/00_nomard.json
{
  "name": "team_nomard",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1232,
        -32
      ],
      "id": "c984f292-10ee-4fd8-8d76-e5d327127f21",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2560,
        304
      ],
      "id": "9c68e892-c182-4102-bac7-eedffd55c80d"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1cHCKEOs2ChX-Q89o3blQNne7U50PLqy-YJlmEjICmb8",
          "mode": "list",
          "cachedResultName": "Nomard_Templates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHCKEOs2ChX-Q89o3blQNne7U50PLqy-YJlmEjICmb8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Status_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHCKEOs2ChX-Q89o3blQNne7U50PLqy-YJlmEjICmb8/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -32
      ],
      "id": "05aaebc3-e8a7-4477-a562-3d610e8ff608",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "C0Jd3hc2EL0Xny9n",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-tts:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyBzGH0g1FG8SjMSvgevd-0-0q17gtpRLpY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"contents\": [{\n          \"parts\":[{\n            \"text\": \"Say cheerfully: Have a wonderful day!\"\n          }]\n        }],\n        \"generationConfig\": {\n          \"responseModalities\": [\"AUDIO\"],\n          \"speechConfig\": {\n            \"voiceConfig\": {\n              \"prebuiltVoiceConfig\": {\n                \"voiceName\": \"Kore\"\n              }\n            }\n          }\n        }\n      }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        320
      ],
      "id": "541fd1a7-c3ee-4b67-b389-9543641bca50",
      "name": "pcm"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        320
      ],
      "id": "98858bd4-0e9d-44ee-be31-c0118c139a24",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1808,
        320
      ],
      "id": "f693d161-4b59-43e3-91d7-81872c3f8137",
      "name": "Read/Write Files from Disk",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2016,
        320
      ],
      "id": "4f8ceff5-7640-449f-8029-58fb4bc1f572",
      "name": "Execute Command",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2208,
        320
      ],
      "id": "c229403d-de0f-4232-96f9-76181a2f46be",
      "name": "Read/Write Files from Disk1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        144
      ],
      "id": "72fd1d8c-77cb-4ecb-beb3-892280b0a1ba",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1808,
        144
      ],
      "id": "b2cc8fc0-60a7-4c52-9a47-d6f48fc0d310",
      "name": "Read/Write Files from Disk2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyBzGH0g1FG8SjMSvgevd-0-0q17gtpRLpY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"contents\": [{\n      \"parts\": [\n        {\"text\": \"Create a picture of a nano banana dish in a fancy restaurant with a Gemini theme\"}\n      ]\n    }]\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        144
      ],
      "id": "533b561a-2fab-4bd9-b950-8850d1459a61",
      "name": "image"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1cHCKEOs2ChX-Q89o3blQNne7U50PLqy-YJlmEjICmb8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Status_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHCKEOs2ChX-Q89o3blQNne7U50PLqy-YJlmEjICmb8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subject": "={{ $json.Subject }}",
            "Link or Contents": "={{ $json['Link or Contents'] }}",
            "key_date": "={{ $now }}",
            "Status": "생성 완료"
          },
          "matchingColumns": [
            "key_date"
          ],
          "schema": [
            {
              "id": "key_date",
              "displayName": "key_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link or Contents",
              "displayName": "Link or Contents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scene_Narration",
              "displayName": "scene_Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scene_description",
              "displayName": "scene_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shorts_URL",
              "displayName": "shorts_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -272
      ],
      "id": "0121c0e9-6d00-4d5c-ba28-d44990280ee7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4uzJgxfkQsSMdHVw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 [고급스러움과 극강의 비주얼]을 전문적으로 다루는 [20년 차 럭셔리 여행 유튜버]이자 [버킷리스트 콘텐츠 기획자]입니다.\n\n[목표]: 오직 하나, 시청자가 '이건 진짜 가고 싶다'며 즉시 저장(Save)하거나 공유(Share)하게 만들 '환상적인 킬러 숏폼 주제'를 도출해야 합니다.\n\n[제약]: 주제는 반드시 [그림 같은 명소]와 [숨겨진 가치/경험]을 결합하여 시각적 로망을 극대화해야 합니다.\n\n[콘텐츠 핵심 요소]: 단순한 풍경 소개를 넘어, 시청자가 '경험의 희소성'을 느끼도록 [가장 특별한 순간/각도/비밀 팁]을 담아야 합니다.\n\n[성공 기준]: 이 주제는 다음 3가지 요소를 모두 충족해야 합니다.\n1.  **초현실적인 비주얼 (Unreal Visual):** '이게 CG가 아니라고?'라는 반응이 나올 만한 최고 수준의 시각적 요소가 첫 3초 안에 등장해야 함.\n2.  **경험의 희소성 (Rare Experience):** 일반적인 관광객은 알 수 없는 '나만 아는 특별한 경험'을 포함해야 함.\n3.  **로망 자극 (Dream-inducing):** 시청자에게 '나도 언젠가는 꼭 가야지'라는 강력한 동기 부여를 제공할 것.\n\n[최종 출력 포맷 및 지침]:\n0. 출력 결과 중 ```json 값은 필수적으로 제외한다.\n1. 최종 결과물은 오직 하나의 숏폼 주제에 대한 정보만을 포함해야 합니다.\n2. 다음 두 개의 개별 JSON 객체로 구성되어야 합니다.\n    * 첫 번째 객체: {\"Subject\": \"[선정된 주제를 한 줄로 요약]\"}\n    * 두 번째 객체: {\"Link or Contents\": \"[선정된 주제의 콘텐츠 내용을 상세하게 텍스트로 작성]\"}\n3. n8n에서 바로 사용할 수 있도록 그 어떠한 코멘트를 달지 않는다."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        -272
      ],
      "id": "6c5a7280-1019-45b3-93d0-681befbf4f0c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "SLWhsaEQjXTnxnd2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2400,
        304
      ],
      "id": "c549ec99-1edc-4ebe-9dfa-bc1da8935936",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1cHCKEOs2ChX-Q89o3blQNne7U50PLqy-YJlmEjICmb8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1066977806,
          "mode": "list",
          "cachedResultName": "Status_3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cHCKEOs2ChX-Q89o3blQNne7U50PLqy-YJlmEjICmb8/edit#gid=1066977806"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "key_date",
              "displayName": "key_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link or Contents",
              "displayName": "Link or Contents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scene_Narration",
              "displayName": "scene_Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scene_description",
              "displayName": "scene_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shorts_URL",
              "displayName": "shorts_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -128
      ],
      "id": "3ae0369e-ea0c-49b2-baf0-f24dc77e3f24",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4uzJgxfkQsSMdHVw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f05ce98-5a2a-457f-9550-6b32a686d7c3",
              "name": "Link or Contents",
              "value": "={{ JSON.parse($json.content.parts[0].text)[1]['Link or Contents'] }}",
              "type": "string"
            },
            {
              "id": "a22d4b09-546d-4e49-8338-35e3384a7392",
              "name": "Subject",
              "value": "={{ JSON.parse($json.content.parts[0].text)[0].Subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -272
      ],
      "id": "6c4700ac-5560-4d94-beb9-49ed8a200206",
      "name": "Edit Fields - parsing"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 [고급스러움과 극강의 비주얼]을 전문적으로 다루는 [20년 차 럭셔리 여행 유튜버]이자 [버킷리스트 콘텐츠 기획자]입니다.\n\n이미지와 나레이션은 하나의 영상으로 제작되고 제작한 영상이 여러개가 모여 하나의 쇼츠로 만들거야.\n\n[목표]\n- 영상 주제에 맞춰 [이미지 출력 예시]의 JSON 형식으로 이미지 프롬프트를 출력.\n- 영상 주제에 맞춰 [나레이션 출력 예시]의 JSON 형식으로 이미지 scene에 걸맞는 나레이션을 출력.\n\n[조건]\n- 영상의 길이를 결정하는 나레이션은 10~15초 사이로 제한.\n- 총 4개의 영상이 모여 약 40초~1분짜리 영상으로 완성되야 함.\n- 출력 시 그 어떠한 코멘트도 작성하지 않는다.\n- json 개행문자인 \"\\n \"표시는 절대 하지 않는다.\n- 나레이션은 반드시 한국어로 작성.\n\n[영상 주제]\n{{ $json['Link or Contents'] }}\n\n[이미지 출력 예시] - 이미지 프롬프트 (Goal 1 달성)\n{\"image_prompts\": [{\"scene\": 1, \"description\": \"밤하늘을 가로지르는 장엄한 오로라, 그 아래 얼어붙은 폭포\", \"style\": \"극강의 비주얼, 하이퍼리얼리즘, 시네마틱 조명\"}, {\"scene\": 2, \"description\": \"오로라가 비치는 투명한 얼음 동굴 내부, 탐험가 실루엣\", \"style\": \"신비로운, 럭셔리 탐험, 와이드 앵글\"}, {\"scene\": 3, \"description\": \"따뜻한 야외 온천에서 오로라를 바라보는 럭셔리한 휴식\", \"style\": \"대조, 평온함, 고급스러운\"}]}\n\n[나레이션 출력 예시] - 나레이션 프롬프트 (Goal 2 달성)\n{\"narration_script\": [{\"scene\": 1, \"narration\": \"당신의 버킷리스트 가장 위, 바로 그곳.\", \"duration\": 4}, {\"scene\": 2, \"narration\": \"신이 그린 가장 호화로운 빛의 커튼, 아이슬란드.\", \"duration\": 5}, {\"scene\": 3, \"narration\": \"이 순간, 시간은 당신을 위해 멈춥니다.\", \"duration\": 4}]}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        -32
      ],
      "id": "3199784e-8b84-4db1-809d-2dd3414ea01e",
      "name": "images + Narration",
      "credentials": {
        "googlePalmApi": {
          "id": "SLWhsaEQjXTnxnd2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea75e95e-a15f-49c3-b53f-7fc356362a0a",
              "name": "content.parts[0].text",
              "value": "={{ $('images + Narration').item.json.content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -32
      ],
      "id": "00e52c9b-6dd5-4817-8de4-91f347da4421",
      "name": "objects"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "447cef0f-4c4a-4758-b6fc-332b009a3879",
              "name": "data",
              "value": "={{ JSON.parse($json.content.parts[0].text).image_prompts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        128
      ],
      "id": "c7ae0fda-c45d-4341-9bdc-7064b5721586",
      "name": "parsing"
    },
    {
      "parameters": {
        "fieldToSplitOut": "content.parts[0].text.image_prompts, content.parts[0].text.narration_script",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        992,
        -32
      ],
      "id": "f35eb4c9-a331-4a4d-911b-da1b734a38ce",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "### 아이템 떼어내기",
        "height": 224,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -80
      ],
      "id": "06570d0e-44ae-433c-8a22-c06de1e02b91",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -272
      ],
      "id": "56566340-7732-441c-9c27-8c3c2251412f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## 주제 선정",
        "height": 240,
        "width": 918,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        -320
      ],
      "id": "0dce0ef0-588c-480d-aa95-024e7772c358",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0f84f16-2cbf-419b-bc97-e3be797aebab",
              "name": "noard_dir",
              "value": "/home/node/nomard",
              "type": "string"
            },
            {
              "id": "dd180b43-fc65-47b1-9425-09ba4daf2925",
              "name": "runIndex",
              "value": "={{ $runIndex + 10}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -32
      ],
      "id": "69971a03-5fe2-44df-bb67-77403ebe4311",
      "name": "경로 및 변수 지정"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $json.noard_dir }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        544,
        -32
      ],
      "id": "3e167076-775d-41d2-b131-e80d86c0ed08",
      "name": "Execute Command - 파일 추가"
    }
  ],
  "pinData": {
    "images + Narration": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\"image_prompts\": [{\"scene\": 1, \"description\": \"드론으로 촬영한 라플란드의 광활한 설원 위, 밤하늘을 가득 채운 오색찬란한 오로라.\", \"style\": \"압도적인 스케일, 하이퍼리얼리즘, 시네마틱 와이드 앵글, 극적인 조명\"}, {\"scene\": 2, \"description\": \"거대한 얼음 폭포로 줌인, 그 속 깊이 감춰진 신비로운 얼음 동굴과 따뜻한 김이 피어오르는 에메랄드빛 온천, 온천수에 반사된 오로라 빛.\", \"style\": \"신비롭고 몽환적인, 럭셔리 탐험, 섬세한 디테일, 빛의 대비, 시네마틱 줌 효과\"}, {\"scene\": 3, \"description\": \"얼음 동굴 속 에메랄드빛 온천에 몸을 담근 채, 머리 위로 펼쳐진 오로라를 감상하는 VVIP의 뒷모습. 옆에는 최상급 위스키와 캐시미어 로브가 놓여 있음.\", \"style\": \"극도의 편안함, 고요한 럭셔리, 포근함과 차가움의 대비, 오로라 빛의 영롱함, 클로즈업\"}], \"narration_script\": [{\"scene\": 1, \"narration\": \"3초 만에 당신의 심장을 훔칠 극강의 비주얼! 드론이 담아낸 라플란드 설원, 오색찬란 오로라가 하늘을 수놓습니다.\", \"duration\": 4}, {\"scene\": 2, \"narration\": \"카메라가 서서히 줌인, 거대한 얼음 폭포의 장엄함. 그 속, 오로라 빛 받은 에메랄드빛 비밀 온천이 영롱하게 빛납니다.\", \"duration\": 5}, {\"scene\": 3, \"narration\": \"극소수 VVIP를 위한 단 한 번의 프라이빗 스파. 자연의 위대함 속, 당신만을 위한 완벽한 평화. 이 황홀경, 당신의 버킷리스트 가장 위에 기록하세요!\", \"duration\": 5}]}"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ]
  },
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pcm",
            "type": "main",
            "index": 0
          },
          {
            "node": "image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "images + Narration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pcm": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields - parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - parsing": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "images + Narration": {
      "main": [
        [
          {
            "node": "경로 및 변수 지정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "objects": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsing": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "경로 및 변수 지정": {
      "main": [
        [
          {
            "node": "Execute Command - 파일 추가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command - 파일 추가": {
      "main": [
        [
          {
            "node": "objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57493c2d-f49c-4833-8349-da0027d01195",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7b130847b0bfd2376924201721c611d57889c5a27c3cf9a7309c3489cc939e2e"
  },
  "id": "AsIDLLp4WW0ReFES",
  "tags": []
}