quests/03_action_nodes_rss.json
{
  "name": "03_action_nodes_rss.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        -112
      ],
      "id": "54ac4f57-4aca-4569-9558-dce167582b13",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.yna.co.kr/rss/industry.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        80,
        96
      ],
      "id": "aaf61731-e50b-443c-9067-bacb1d51a6e5",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 2,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        272,
        96
      ],
      "id": "7cfbaa18-16b5-4ca3-9c0c-c74b516eddc8",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "8408796954",
        "text": "=n8n에서 보냅니다.\n\n제목 : {{ $json.title }}\n발행일 : {{ $json.pubDate }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        96
      ],
      "id": "4e08c5c4-d60d-4892-9f0c-2c53e655adb4",
      "name": "Send a text message1",
      "webhookId": "483bf03f-0175-471e-a75f-f52dbce0d84f",
      "credentials": {
        "telegramApi": {
          "id": "knAdiurKeZY6olQF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.hani.co.kr/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        80,
        -112
      ],
      "id": "68013897-35fc-4871-bc32-0cbf721abaae",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "maxItems": 2,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        272,
        -112
      ],
      "id": "273200dc-532f-4862-9842-e89bea0b0ae6",
      "name": "Limit1"
    },
    {
      "parameters": {
        "chatId": "8408796954",
        "text": "=n8n에서 보냅니다.\n\n제목 : {{ $json.title }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -112
      ],
      "id": "051889bd-c35e-4aea-920f-37872295a49f",
      "name": "Send a text message",
      "webhookId": "483bf03f-0175-471e-a75f-f52dbce0d84f",
      "credentials": {
        "telegramApi": {
          "id": "knAdiurKeZY6olQF",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed8e13a1-2e8e-4438-9d17-9efdaff3bfcf",
  "meta": {
    "instanceId": "84c4515d572316c381c815ca23f11d8a4664fd2fca427d77968ac06c078055c4"
  },
  "id": "F206T5fRqce0YaUf",
  "tags": []
}