quests/15_manage_emailboxes.json
{
  "name": "15_manage_emailboxs",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -176,
        -784
      ],
      "id": "70be2112-0a26-48b3-b9f9-65a8cbe31300",
      "name": "Get many messages",
      "webhookId": "1300848a-38f9-4fec-b498-b9e4f32fa458",
      "credentials": {
        "gmailOAuth2": {
          "id": "hQfd4OZFQtfNCS0l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 메일 가져오기 및 주소록 불러오기",
        "height": 480,
        "width": 1312,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        -880
      ],
      "id": "f05229d5-00a3-4268-8982-9c9a73ccda0c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Subject }}\n\n{{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Recruitment",
              "description": "채용 관련, 이력서, 입사 지원, 헤드헌터 연락"
            },
            {
              "category": "SalesPersonal",
              "description": "영업 문의, 고객 상담, 제안서 요청 등"
            },
            {
              "category": "Misc",
              "description": "기타 분류되지 않은 모든 메일"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        16,
        -800
      ],
      "id": "6ac326a5-95a0-4c42-b229-32694a54bf94",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        -576
      ],
      "id": "2cd1ebae-fa3f-46e6-9bc0-1cc620c33787",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PN8P9dggJPcN7myd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=해당 [메일 내용](채용 관련, 이력서, 입사 지원, 헤드헌터 연락 등)을 분석해서 자동 답변 메일을 보내야 해. 참고한 [답변 메일 템플릿]을 이용하여 답변 메일을 작성해줘. n8n 자동화를 위하여 절대 그 어떠한 코멘트도 달지 말아줘.\n\n[메일 내용]\n{{ $json.snippet }}\n\n[답변 메일 템플릿]\n안녕하세요,\n채용 관련 문의 감사합니다.\n\n해당 이메일은 자동 안내 메일이며, 문의 내용은 정상적으로 접수되었습니다.\n담당자가 확인 후 순차적으로 답변드릴 예정입니다.\n\n관련 정보는 아래 페이지에서도 확인하실 수 있습니다.\n- 링크: https://www.youtube.com/@Daybread_0\n\n감사합니다.\n좋은 하루 되세요.\n\n[AI 마스터 클래스 / 마케팅]\n담당자 정다인 드림"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        432,
        -896
      ],
      "id": "c32a5653-ff7e-4ae7-bbed-1ba6df6bd34e",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "PN8P9dggJPcN7myd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.gmails }}",
        "subject": "테스트] 채용 관련 문의 답변입니다.",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        736,
        -896
      ],
      "id": "fea784a0-42ba-4c47-9a6d-aad22a475702",
      "name": "Send a message",
      "webhookId": "cabe4db3-b390-4b54-96ea-eca6037ef979",
      "credentials": {
        "gmailOAuth2": {
          "id": "hQfd4OZFQtfNCS0l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        -896
      ],
      "id": "b3de5321-a97f-4d9a-b065-204905037140",
      "name": "Delete a message",
      "webhookId": "38c731bd-9f6d-47b2-bac1-e26f397caf89",
      "credentials": {
        "gmailOAuth2": {
          "id": "hQfd4OZFQtfNCS0l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 답변 (양 적은 것)\n",
        "height": 176,
        "width": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        -944
      ],
      "id": "1dd59851-5dda-4f76-aa94-99b359b2231a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 레이블링\n",
        "height": 448,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        -736
      ],
      "id": "0792aef0-2fb7-4413-859a-b7d394458ee6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -464
      ],
      "id": "312e0ab7-3833-4ff6-b2d7-ea1126ff1459",
      "name": "Remove label from message",
      "webhookId": "2005102b-61ac-492c-aae4-f3a013fce51f",
      "credentials": {
        "gmailOAuth2": {
          "id": "hQfd4OZFQtfNCS0l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -672
      ],
      "id": "207a015f-b0aa-4a75-957f-3f9e1cf3ae2c",
      "name": "Remove label from message1",
      "webhookId": "2005102b-61ac-492c-aae4-f3a013fce51f",
      "credentials": {
        "gmailOAuth2": {
          "id": "hQfd4OZFQtfNCS0l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 메일 삭제를 왜 하는 것인지..,?",
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -944
      ],
      "id": "66728683-4ba0-4d4d-a556-394ad3becedd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -784
      ],
      "id": "2e6c6274-033d-449b-bb14-21816b3e3646",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_8566971118234836290"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        -672
      ],
      "id": "6320f254-25a3-4ac1-b13d-1f8871a061d2",
      "name": "Sales",
      "webhookId": "57f3af30-8756-4250-92ef-ff45a6c8c749",
      "credentials": {
        "gmailOAuth2": {
          "id": "hQfd4OZFQtfNCS0l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_6053390641356466531"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        -464
      ],
      "id": "2f84f697-96e0-44eb-8ebb-d0b22da0c349",
      "name": "Misc",
      "webhookId": "e4c82bf6-2e2c-4a51-8a95-3eeb01e38450",
      "credentials": {
        "gmailOAuth2": {
          "id": "hQfd4OZFQtfNCS0l",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Ki7YrHRmDiqEifjYCfTOcwPfB4mb68S1tBqpPntqSFo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ki7YrHRmDiqEifjYCfTOcwPfB4mb68S1tBqpPntqSFo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -784
      ],
      "id": "621f3c73-0f6c-4c2e-a5c1-6110fdd2f9a8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kal2UKQXznqwfdAl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "option gmail",
              "renameField": true,
              "outputFieldName": "gmails"
            },
            {
              "fieldToAggregate": "이름",
              "renameField": true,
              "outputFieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -576,
        -784
      ],
      "id": "1fde7b49-aa3e-4ad2-91b3-1502a6ab710d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bcf02baf-97e3-4f3e-91b6-c8580c5b8405",
              "name": "gmails",
              "value": "={{ $json.gmails.join(\", \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -784
      ],
      "id": "b46455f3-8cde-4844-8b17-3542d02cd5ca",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales": {
      "main": [
        [
          {
            "node": "Remove label from message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Misc": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dbb065ce-89bc-4789-a549-f7fa2aff00fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29f391ad7e31c040d0900e4485c9e8670023e2542262ca1620c807d1a6c9fce6"
  },
  "id": "Oz1gutnRM37crkOV",
  "tags": []
}